@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	font-family: 'Montserrat' !important;
}

h1{
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
	padding-bottom: 10px;
}

h2{
	font-family: Montserrat;
}

.inverse{
	border-top: 1px solid #E7E7E7;
	background-color: #F8F8F8;
}

.container{
	padding-bottom: 50px;
	text-align: center;
}

.button:hover {
	-webkit-filter: invert(.2);
	filter: invert(.2);
}

/* MAIN PAGE*/

/* Header */

#home .jumbotron {
	padding-top: 30vh;
	min-height: 100vh;
	background-image: url("../img/backgroundBlue.jpg");
	background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin:0px;
}

#transition {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    z-index: 999;
}

#block1down > img {
    height: auto;
    width: 100%;
    z-index: 999;
}

#title {
	padding-top: 40px;	
	font-size: 120pt; 
}

#subtitle {
	font-size: 30pt;
	color: #fff;
}

/* Who We Are */

#about .fa-code{
	color: #7194da;
}

#about .fa-heart{
	color: #aec2ea;
}

#about .fa-group{
	color:#0086b3;
}

#about .col-sm-4{
	text-align: center;
}

#about img{
	width:100%;
	padding-top:10px;
}

#about form{
	margin-top: 20px;
}

/* Rush */

#rush img{
	width:100%;
	vertical-align: middle;
}

#rush .agenda{
	display:block;
	background-color: #062469;
}

#rush .cal-header{
	background-color: #062469;
	color:white;
	margin-bottom:0px;
	padding-bottom: 0px;
}

#rush iframe{
	margin-top:0px;
	padding-top: 0px;
	width:100%;
	max-height: 300px;
}

#rush .row{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

#rush .button{
	padding: 20px;
}

/* What We Do */
#members{
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}

#members img{
	padding-top: 5px;
	max-width:400px;
	width:100%;
}

@media screen and (min-width: 48em){
    #members .mem-text{
		text-align: left;
	}
}

#members h4{
	font-size: 10pt;
}

/* Portfolio */

.carosel-inner{
	transition: 20.0s ease-in-out left;
}

.carousel-inner .item img,
.carousel-inner .item a img{
      height: 100%;
	  max-height: 400px;
      margin: auto;
	  position: relative;
	  display: block;
 }

#slide1,#slide2,#slide3,#slide4{
	min-height:500px;
}

#portfolio p{
	font-size: 18px;
	padding-top: 150px;
	padding-left: 30px;
	padding-right: 30px;
}

#slide1{
	background-image: url(../img/duke.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#portfolio .item:hover #slide1{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/duke.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#slide2{
	background-image: url(../img/group_silly.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#portfolio .item:hover #slide2{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/group_silly.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#slide3{
	background-image: url(../img/group_silly.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#portfolio .item:hover #slide3{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/group_silly.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#slide4{
	background-image: url(../img/logo.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: black;
}

#portfolio .item:hover #slide4{
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/logo.png);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#portfolio .item h2{
	padding-top: 150px;
	display:block;
}

#portfolio .item p{
	display:none;
}

#portfolio .item:hover h2{
	display:none;
}

#portfolio .item:hover p{
	display:inline-block;
	max-width: 600px;
}

/* Contact */

#contact .no-wrap{
	white-space: nowrap;
	display: inline;
}

/* MEMBERS PAGE */

#members-list .member{
	width:300px;
	height:300px;
	background-image: url(../img/group_silly.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}

#members-list ul {
    list-style: none;
    width: 99%;
    margin: auto;
}
#members-list li {
    margin: 5px;
    margin-bottom: 50px;
    font-size:12pt;
    display:inline;
    float: left;
    height:350px;
    width: 300px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

#members-list li .mem-name{
	display: block;
}

#members-list li p{
	padding-left:15px;
	padding-right: 15px;
	display: none;
}

#members-list li:hover p{
	display: block;
}

#members-list li:hover .member{
	width:300px;
	height:300px;
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url(../img/group_silly.jpg);
	background-size: cover;
    background-repeat: no-repeat;
	background-position: center center;
	color: white;
}

#member-page .jumbotron {
	min-height: 200px;
	padding-top: 100px;
	background-image: url("../img/chapel_white.jpg");
	background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}